<main>
  <div id="user-info" data-user-id="{{ user.id }}"></div>
  <section class="main is hidden">
    <section class="columns main-sec">
      <section class="column is-2"></section>
      <section class="column is-8">
        <section class="top-head">
          <form class="search" id="search-form">
            <input
              type="text"
              class="search__field"
              id="search-input"
              placeholder="Search over 1,000,000 recipes..."
            />
            <button class="btn-head" type="submit">
              <svg class="search__icon">
                <use href="/media/icons.svg#icon-search"></use>
              </svg>
              <span>Search</span>
            </button>
          </form>
          <ul class="nav">
            <li class="nav-btn">
              <button class="btn-li">
                <svg class="">
                  <use href="/media/icons.svg#icon-edit"></use>
                </svg>
                <span>Add recipe</span>
              </button>
            </li>
            <li class="nav-btn">
              <button class="btn-li">
                <svg class="">
                  <use href="/media/icons.svg#icon-bookmark"></use>
                </svg>
                <span>Bookmarks</span>
              </button>
            </li>
            <li class="nav-btn">
              <button class="btn-li" id="logout">
                <svg class="">
                  <use href="/media/icons.svg#icon-user"></use>
                </svg>
                <span>Log-out</span>
              </button>
            </li>
          </ul>
        </section>
        <section class="columns is-mobile top">
          <section class="column is-one-third col1">
            <ul class="results">

              {{#if data}}
                <li class="preview">
                  <a
                    class="preview__link preview__link--active"
                    href="{{data.id}}"
                  >
                    <figure class="preview__fig">
                      <img
                        class="preview_img"
                        src="{{data.image}}"
                        alt="Test"
                      />
                    </figure>
                    <div class="preview__data">
                      <h4 class="preview__title">
                        {{data.title}}
                      </h4>
                      <p class="preview__publisher">{{data.publisher}}</p>
                      {{#if data.userGenerated}}
                        <div class="preview__user-generated">
                          <svg class="preview__icon">
                            <use href="/media/icons.svg#icon-user"></use>
                          </svg>
                        </div>
                      {{/if}}
                    </div>
                  </a>
                </li>
              {{/if}}

            </ul>
            <section class="pagination">
              <button class="btn--inline pagination__btn--prev">
                <svg class="search__icon">
                  <use href="/media/icons.svg#icon-arrow-left"></use>
                </svg>
                <span>Page 1</span>
              </button>
              <button class="btn--inline pagination__btn--next">
                <span>Page 3</span>
                <svg class="search__icon">
                  <use href="/media/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </section>

    
          </section>
          <section class="column col2">
              <div class="error is-hidden">
                <div>
                  <svg>
                    <use href="/media/icons.svg#icon-alert-triangle"></use>
                  </svg>
                </div>
                <p>No recipes found for your query. Please try again!</p>
              </div>
            {{#unless data}}
              <div class="message">
                <div>
                  <svg>
                     <use href="/media/icons.svg#icon-smile"></use>
                  </svg>
                </div>
                <p>Start by searching for a recipe or an ingredient. Have fun!</p>
              </div>
            {{/unless}}
            {{#if data}}
            <div class="recipe">


              <!-- <div class="spinner">
                      <svg>
                        <use href="src/img/icons.svg#icon-loader"></use>
                      </svg>
                    </div> -->

              <!-- <div class="error hidden">
                        <div>
                          <svg>
                            <use href="src/img/icons.svg#icon-alert-triangle"></use>
                          </svg>
                        </div>
                        <p>No recipes found for your query. Please try again!</p>
                      </div> -->

              <figure class="recipe__fig">
                <img src={{data.image}} alt="Tomato" class="recipe__img" />
                <h1 class="recipe__title">
                  <span>{{data.title}}</span>
                </h1>
              </figure>

              <div class="recipe__details">
                <div class="recipe__info">
                  <svg class="recipe__info-icon">
                    <use href="/media/icons.svg#icon-clock"></use>
                  </svg>
                  <span
                    class="recipe__info-data recipe__info-data--minutes"
                  >{{data.cookingTime}}</span>
                  <span class="recipe__info-text">minutes</span>
                </div>
                <div class="recipe__info">
                  <svg class="recipe__info-icon">
                    <use href="/media/icons.svg#icon-users"></use>
                  </svg>
                  <span
                    class="recipe__info-data recipe__info-data--people"
                  >{{data.servings}}</span>
                  <span class="recipe__info-text">servings</span>

                  <div class="recipe__info-buttons">
                    <button class="btn--tiny btn--increase-servings">
                      <svg>
                        <use href="/media/icons.svg#icon-minus-circle"></use>
                      </svg>
                    </button>
                    <button class="btn--tiny btn--increase-servings">
                      <svg>
                        <use href="/media/icons.svg#icon-plus-circle"></use>
                      </svg>
                    </button>
                  </div>
                </div>

                {{#if data.userGenerated}}

                  <div class="recipe__user-generated">
                    <svg>
                      <use href="/media/icons.svg#icon-user"></use>
                    </svg>
                  </div>
                {{/if}}
                <button class="btn--round" id="bookmark-button">
                  <svg >
                    <use id="bookm" href="/media/icons.svg#icon-bookmark"></use>
                  </svg>
                </button>
              </div>

              <div class="recipe__ingredients">
                <h2 class="heading--2">Recipe ingredients</h2>
                <ul class="recipe__ingredient-list">
                  {{#each data.ingredients}}
                    <li class="recipe__ingredient">
                      <svg class="recipe__icon">
                        <use href="/media/icons.svg#icon-check"></use>
                      </svg>
                      <div class="recipe__quantity">{{this.quantity}}</div>
                      <div class="recipe__description">
                        <span class="recipe__unit">{{this.unit}}</span>
                        {{this.description}}
                      </div>
                    </li>
                  {{/each}}

                </ul>
              </div>

              <div class="recipe__directions">
                <h2 class="heading--2">How to cook it</h2>
                <p class="recipe__directions-text">
                  This recipe was carefully designed and tested by
                  <span class="recipe__publisher">{{data.publisher}}</span>.
                  Please check out directions at their website.
                </p>
                <a
                  class="btn--small recipe__btn"
                  href={{data.sourceUrl}}
                  target="_blank"
                >
                  <span>Directions</span>
                  <svg class="search__icon">
                    <use href="/media/icons.svg#icon-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </section>
          {{/if}}
        </section>
      </section>
      <section class="column is-2"></section>
    </section>
  </section>
</main>

<script src="/js/recipeSearch.js"></script>

<script src="/js/logout.js"></script>

<script src="/js/bookmarkRecipe.js"></script>

{{!-- {{#each recipes as |recipe| }}
<div>
  <div>
    <img src="{{recipe.img}}">
  </div>
  <div>
    <h2>{{recipe.title}}</h2>
  </div>
  <div>
    <h3><a href="{{recipe.sourceUrl}}">Click here for Recipe!</a></h3>
  </div>
</div>
{{/each}} --}}